<div style="display: flex;flex-direction: column; justify-content: center;align-items: center; margin-top: 4rem;">
  <div>
    <button (click)="increment()">Increment Counter</button>
  </div>
 
  <div style="display: flex;flex-direction: row; ">
    <div style="margin-left: 2rem;">
      Singleton: <p *ngFor="let x of singletonCounts">{{x}}
    </div>
    <div style="margin-left: 2rem;">
      Scoped: <p *ngFor="let x of scopedCounts">{{x}}
    </div>
    <div style="margin-left: 2rem;">
      Transient: <p *ngFor="let x of transientCounts">{{x}}
    </div>
  </div>
</div>
